html {
  background-color: #222222;
}

body {
  background: #222222;
  /* color: white; */
  /* position: re; */
}

canvas {
  margin-left: 10px;
  margin-top: 20px
}

/* 
#container:fullscreen {
  background-color: #222222;
}

#container:-webkit-full-screen {
  background-color: #222222;
}

#container:-moz-full-screen {
  background-color: #222222;
} */

/* *:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: #222222;
} */

#wrapper {
  background: #222222;
  width: 1000px;
  margin: 0 auto;
}

div {
  color: white;
  font-family: arial;
  display: inline;
}

p {
  font-family: arial;
}

input {
  display: block;
}

.active {
  background: #222225;
  color: salmon;
}

.notActive {
  background: default;
}



canvas {
  position: relative;

}

button {
  outline: none;
  letter-spacing: 1px;
  font-family: Arial;
  font-weight: 100;
  /* z-index: 2; */
  /* margin-top: 40px;
  margin-bottom: 40px; */
  font-size: .8em;
  background: #222222;
  color: #aaaabf;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 6px;
  /* margin: 10px; */
  border: #3f5a63 1px solid;
  vertical-align: middle;
}




select {
  border: #2f5a53 2px solid;
  margin-left: 6%;
  background: #222222;
  color: #aaaabf;
  outline: none;
}

option {
  color: #aaaabf;
}



#buttonContainer {
  height: 200px;
  /* text-align: center; */
}

#canvasContainer {
  border-bottom: 20px;
  border-top: 20px;
}

.colorSliders {
  display: inline;
}




h2 {
  color: #aaaabf;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 0%;
  margin: 3% 0 6% 0;
}

#colorController {
  margin-top: 20px;
  width: 165px;
  float: left;
  /* width: 20%; */
  /* padding: 20 10px; */
  margin-left: 14px;
  margin-bottom: 20px;
  border: #3f5a63 1px solid;
  border-radius: 7px;
  padding: 3px 10px 5px 10px;
  /* text-align: center; */
  /* float: right; */
}

#objectSelector {
  margin: 0px 5px 7px 10px;
}

#numberSelector {
  margin-left: 10px;
}


#sliders {
  color: #aaaabf;
  border-radius: 6px;
}

#sliders card {
  /* padding: 1% 0% 1% 1%; */
  margin-top: 20px;
  border-radius: 6px;
  color: #aaaabf;
  padding: 0.5% 0% .5% 0.5%;
}

#rightColumn {
  float: right;
  margin-right: 20px;
}

.column {
  width: 175px;
  float: left;
  /* width: 20%; */
  /* padding: 20 10px; */
  margin-left: 14px;
  margin-bottom: 50px;
  border: #3f5a63 1px solid;
  padding: 10px 10px 10px 10px;
}

.paused {
  color: #3c7b7c;
  /* #DragSelect {
  margin: 30px;
} */
}

card {
  width: 200px;
  /* height: 400px; */
}

.hSlider,
.sSlider,
.lSlider,
.aSlider {
  margin-bottom: 10px;
  background: #222222;
}

.title {
  border-top: white 1px solid;
}

/* ///////////sliders////////////// */

input[type=range] {
  -webkit-appearance: none;
  width: 145px;
  margin: 20px 10% 20px 5%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(125, 188, 164, 0.1), 0px 0px 0px rgba(142, 197, 176, 0.1);
  background: #425169;
  border-radius: 3.9px;
  border: 0px solid rgba(128, 128, 128, 0.8);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(223, 186, 0, 0.5), 0px 0px 1px rgba(249, 207, 0, 0.5);
  border: 0px solid rgba(170, 122, 131, 0);
  height: 25px;
  width: 15px;
  border-radius: 32px;
  background: #aaaabf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4c5d79;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(125, 188, 164, 0.1), 0px 0px 0px rgba(142, 197, 176, 0.1);
  background: #425169;
  border-radius: 3.9px;
  border: 0px solid rgba(128, 128, 128, 0.8);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(223, 186, 0, 0.5), 0px 0px 1px rgba(249, 207, 0, 0.5);
  border: 0px solid rgba(170, 122, 131, 0);
  height: 25px;
  width: 20px;
  border-radius: 32px;
  background: #aaaabf;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 9.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #384559;
  border: 0px solid rgba(128, 128, 128, 0.8);
  border-radius: 7.8px;
  box-shadow: 0px 0px 0px rgba(125, 188, 164, 0.1), 0px 0px 0px rgba(142, 197, 176, 0.1);
}

input[type=range]::-ms-fill-upper {
  background: #425169;
  border: 0px solid rgba(128, 128, 128, 0.8);
  border-radius: 7.8px;
  box-shadow: 0px 0px 0px rgba(125, 188, 164, 0.1), 0px 0px 0px rgba(142, 197, 176, 0.1);
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(223, 186, 0, 0.5), 0px 0px 1px rgba(249, 207, 0, 0.5);
  border: 0px solid rgba(170, 122, 131, 0);
  height: 25px;
  width: 20px;
  border-radius: 32px;
  background: #aaaabf;
  cursor: pointer;
  height: 9.2px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #425169;
}

input[type=range]:focus::-ms-fill-upper {
  background: #4c5d79;
}