body {
  background: #222225;
  color: white;
}

div {
  color: white;
  font-family: arial;
  display: inline;
}

p {
  font-family: arial;
}

input {
  display: block;
}

.active {
  background: darkgrey;
}

.notActive {
  background: default;
}

.paused {
  background: salmon;
}

canvas {
  position: relative;

}

button {
  /* z-index: 2; */
  margin-top: 10px;
}

#canvasContainer {
  border-bottom: 20px;
  border-top: 20px;
}