html {
  background-color: #222222;
}

body {
  background: #222222 !important;
  color: #ddd;
}

#pup {
  position: absolute;
  z-index: 200;
  /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  /* border: 1px solid black; */
  padding: 0.35em;
  border-radius: 6px;
  background-color: #445555bb;
  color: #ddd;
  font-family: arial;
  font-weight: lighter;
  font-size: 0.75em;
}

/* Canvas and wrapper */

#wrapper {
  /* Goes around everything  */


  margin: 0 auto;
  width: 980px;


  /* Making the margin 0 auto puts the canvas in the center for some reason? */
  background: #222222;
  /* Changing the width moves the sliders to the left/right  */

}


canvas {
  margin-top: 10px
}

div {
  color: white;
  font-family: arial;
}


/* Buttons  */

button {
  color: #aaaabf;
  background: #222222;

  font-family: Arial;
  letter-spacing: 1px;
  font-weight: 100;

  outline: none;

  border-radius: 8px !important;
  border: #3f5a63 1px solid;

  height: 40px;
  vertical-align: middle;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none;
}

/* CARDS and card elemetns  */

.controller {
  /* Color controller is the id for all four cards. */
  /* margin-top: 30px; */
  /* margin-left: 10px; */
  width: 100%;
  border: #3f5a63 1px solid;
  border-radius: 7px;

  /* padding: 3px 10px 5px 10px; */

  /* text-align: center; */
  /* Puts the icons into the center */
  /*float: right moves the icons and hsla letter to the left. */
  /* float: right; */
}

select {
  border: #2f5a53 2px solid;
  width: 100px;
  background: #222222;
  color: #aaaabf;
  outline: none;
}



option {
  color: #aaaabf;
}





label {
  display: inline-block;
  text-align: right;
  width: 5%;
  margin-left: 5px;
  margin-right: 5px;
  color: #aaaabf;
  font-size: 0.8em;
}

.slider {
  display: inline-block;
  padding-right: 0;
}



/* End of cards */


/* SVG icons */

.icons {
  /* This only affects the palette icon. */
  /* Except the color was changed somewhere else to over-ride. */
  fill: #aaaabf;
}

.floppy {
  margin-top: 3px;
  font-size: 1.40em;
}

.download {
  font-size: 1.15em;
}

.sliderIcons {
  fill: #aaaabf;
}

i {
  /* Only applies to the square since that one uses fontAwesome */
  margin-top: 2px;
  font-size: 1.25em;
}

.active {
  background: #222225;
  color: salmon;
  fill: salmon;
}

.notActive {
  background: default;
  fill: #aaaabf;

}

/* End of icons  */


/* Layout continued  */

.controller {
  margin: 10px;
  width: 150px;
}

.dropDown1 label,
.dropDown2 label {
  display: block;
  margin-top: 6%;
  margin-left: 10%;
  text-align: left;
  width: 150px;
}

.dropDown1 select,
.dropDown2 select {
  display: block;
  text-align: left;
  width: 125px;
  margin: 5% auto;
}

form {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#loadButton {
  width: 100%;
  margin: 0;
}

#numbersButton {
  font-size: 1.3em;
}