<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zybriqs</title>
  <meta name="description" content="ejs page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="viewStyles">


  <style>
    p,
    h1,
    h2 {
      color: #aaa;
    }

    p {
      margin-top: 15px !important;
      margin-bottom: 15px !important;

    }

    h2 {
      margin: 30px !important;
    }

    .container {
      width: 600px !important;
      margin: 0 auto !important;
    }

    i {
      color: red;
    }

    label {
      width: 200px;
      margin-right: 30px;
    }

    input {
      margin-bottom: 23px !important;
    }

    button {
      width: 150px;
      margin: 30px auto !important;
    }

    .loginRegister {
      text-align: center;
    }

    .buttonDiv {
      text-align: center;
    }
  </style>

</head>

<body>

  <%-include('../partials/header') -%>
  <main>
    <div class="container">
      <h1> About Zybriqs</h1>
      <p>
        This project was created as a way to bridge the gap, for me, between art and web development. As an artist I
        have had a long-term interest in contemporary art - in particular, abstract painting, process-based abstraction,
        and conceptual art. My work as a painter is process-driven. It is determined by improvisatory activity as an
        aesthetic response to the world around me.
        This
        sensibility - which embraces both rigorous as well as intuitive aspects of art-making - informs Zybriqs.
      </p>
      <p>
        In particular, web development has given me a new medium for exploring those concerns. Code, as such, is a
        creative medium for spontaneously generating form and searching for unpredictable
        outcomes. Where painting has an implied sense of contingency, this contingency is explicitly built into Zybriqs.
        The animation is algorithmically generated - a function of both code and choices made by the Zybriqs user.
      </p>
      <p>
        The movement of the circles is determined by physics equations modeling gravity, wind force, and drag
        to create spontaneous and free flowing movement. The idea of a scientific “model” lies poised between what we
        might call
        non-objective abstraction and representational art. What does it mean, for instance, to immerse ourselves into a
        virtual world? Of course, with Zybriqs, the system is limited in certain ways and relatively absurd: wind is
        generated inside an otherwise sealed rectangle - while the balls respond to wind and gravity (suggesting mass
        and volume) yet never collide.
      </p>
      <p>

        The overall simplicity of the animation is also a deliberate choice - a way of engaging directly with the
        surfaces
        and elements of contemporary web development design sensibilities. It reminds us of the medium itself and
        invites
        one to engage with it directly. The overt similarities to gaming and web-design underscores the relevance of
        these
        questions. Zybriqs, then, asks us what possibilities exist somewhere between the virtual and physical worlds in
        which we currently divide our time.
      </p>
      <p>
        -Elwyn Palmerton
      </p>

    </div>



  </main>
  <%-include('../partials/footer') -%>
</body>

</html>